# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

NEXT_PUBLIC_SUPABASE_URL= https://zrlamlvcuqgdckzoxlhv.supabase.co 

NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpybGFtbHZjdXFnZGNrem94bGh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMTM3NTUsImV4cCI6MjA5NDU4OTc1NX0.nuqYJDsSkwV9NWmYz0Be1HCVuxYoqRNVkZXEbtftTVM 

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
